<nav aria-label='Page navigation example' style="margin: 20px 0;">
    <%console.log(posts)%>    
    <ul class="pagination">
    <% if(posts.page - 1){ %>
        <li class="page-item">
            <a class="page-link" href="<%=paginateUrl%><%= posts.page - 1 %>">
                Prev
            </a>
        </li>
    <% } %>

    <% if(posts.totalPages > 1 && posts.docs.length) { %>
        
            <% for(let i = 1; i <= posts.totalPages; i++){ %>
            <%=console.log(i)%>
                <li class="page-item">
                    <a class="page-link" href="<%=paginateUrl%><%= i %>"
                    <%= i === posts.page ? 'style=color:black;' : '' %>
                    ><%= i %>
                    </a>
                </li>
            <% } %>
       
   <% } %>

    <% if((posts.page + 1) <= posts.totalPages){ %>
        <li class="page-item">
            <a class="page-link" href="<%=paginateUrl%><%= posts.page + 1 %>">
                Next
            </a>
        </li>
    <% } %>
     </ul>
</nav>